/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ------------------------------
// | ESC  |  1  |  2  |  3  |  4  |  5  |
// | ` ~  |  Q  |  W  |  E  |  R  |  T  |
// | TAB  |  A  |  S  |  D  |  F  |  G  |
// | ALT  |  Z  |  X  |  C  |  V  |  B  |
// | CTRL |  <  |  >  | GUI |
//                          | SPACE | SHIFT |  ,  |   .  |
//                                          | RET | BSPC |
			bindings = <
	&kp ESC   &kp N1 &kp N2 &kp N3 &kp N4 &kp N5
	&kp GRAVE &kp Q  &kp W  &kp E  &kp R  &kp T
	&kp TAB   &kp A  &kp S  &kp D  &kp F  &kp G
    &kp LALT  &kp Z  &kp X  &kp C  &kp V  &kp B
	&kp LCTRL &kp LT &kp GT &kp LGUI
	                               &kp SPACE  &kp LSHFT &kp COMMA  &kp DOT
	                                                    &kp RET    &kp BSPC
			>;
		};
	};
};
